/* INICIO */

.inicio {
    background-color: var(--p7);
    background-image: url(../css/img/imagem-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-bottom: 4rem;
}

.inicio-conteudo {
    padding-top: 45vh;
    max-width: 51rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.inicio-conteudo picture {
    margin-bottom: 3rem;
}

.inicio-conteudo p {
    font-family: var(--font-2);
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--p2);
    text-align: center;
}

.inicio-conteudo p > em {
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
}

@media (max-width: 1440px) {
    .inicio-conteudo {
        max-width: 40rem;
        gap: 1.25rem;
    }

    .inicio-conteudo picture {
        margin-bottom: 2.5rem;
    }

    .inicio-conteudo p {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.4;
    }
}

@media (max-width: 1080px) {
    .inicio {
        min-height: 100vh;
    }

    .inicio-conteudo {
        padding-top: 36vh;
        max-width: 36rem;
    }

    .inicio-conteudo p {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}
