/* INICIO */

.inicio {
    background-color: var(--p7);
    background-image: url(../css/img/slide-inicio/imagem-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-bottom: 4rem;
    position: relative;
    z-index: -2;
    animation: bg-slide ease infinite;
    /* animation-delay: 15s; */
}

@keyframes bg-slide {
    0%,
    100% {
        background-image: url(../css/img/slide-inicio/imagem-2.jpg);
    }
    25% {
        background-image: url(../css/img/slide-inicio/imagem-2.jpg);
    }
    35% {
        background-image: url(../css/img/slide-inicio/imagem-3.jpg);
    }
    55% {
        background-image: url(../css/img/slide-inicio/imagem-3.jpg);
    }
    65% {
        background-image: url(../css/img/slide-inicio/imagem-1.jpg);
    }
    90% {
        background-image: url(../css/img/slide-inicio/imagem-1.jpg);
    }
}

.inicio-conteudo {
    padding-top: 45vh;
    max-width: 57rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.inicio-conteudo picture {
    margin-bottom: 2rem;
}

.inicio-conteudo p {
    font-family: var(--font-2);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--p2);
    text-align: center;
}

.inicio-conteudo p > em {
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
}

@media (max-width: 1440px) {
    .inicio-conteudo {
        padding-top: 40vh;
        max-width: 45rem;
        gap: 1.25rem;
    }

    .inicio-conteudo picture {
        margin-bottom: 2.5rem;
    }

    .inicio-conteudo p {
        font-size: 0.875rem;
        font-weight: 400;
    }
}

@media (max-width: 1080px) {
    .inicio-conteudo {
        padding-top: 32vh;
        max-width: 36rem;
    }

    .inicio-conteudo p {
        font-weight: 500;
    }
}

@media (max-width: 720px) {
    .inicio-conteudo {
        padding-top: 30vh;
        max-width: 100%;
    }
}
