/* LOCALIZAÇÃO */

.localizacao {
    background-color: var(--p2);
    min-height: 100vh;
    position: relative;
}

.localizacao-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.localizacao-conteudo h2,
.localizacao-conteudo p {
    grid-column: 1;
}

.localizacao .foto {
    position: absolute;
    bottom: 7rem;
    left: 0;
    max-width: 40%;
}

.localizacao-conteudo .mapa {
    grid-column: 2;
    grid-row: 2/5;
    position: relative;
}

.mapa > a {
    cursor: default;
}

.mapa figcaption {
    position: absolute;
    padding-top: 14.5rem;
    padding-inline: 2rem;
    top: 0rem;
    left: 0rem;

    font-family: var(--font-2);
    font-weight: 500;
    font-size: 1rem;
    color: var(--p6);
    cursor: pointer;
}

.mapa figcaption:hover {
    color: var(--p5);
}

.localizacao-conteudo h2 {
    font-family: var(--font-2);
    font-size: 1.25rem;
    color: var(--p6);
    margin-bottom: 1rem;
}

.localizacao-conteudo p {
    font-family: var(--font-1);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--p7);
    margin-bottom: 0.5rem;
    max-width: 26rem;
}

.localizacao-conteudo picture {
    grid-row: 5;
    grid-column: 2;
    margin-top: 2rem;
    justify-self: right;
}

/* RESPONSIVO LOCALIZAÇÃO */

@media (max-width: 1440px) {
    .localizacao-conteudo {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    .localizacao .foto {
        bottom: 4rem;
    }

    .localizacao-conteudo .mapa {
        max-width: 85%;
        padding-left: 1rem;
    }

    .mapa figcaption {
        padding-top: 10rem;
        padding-inline: 1.5rem;
        font-size: 0.875rem;
    }

    .localizacao-conteudo h2 {
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }

    .localizacao-conteudo p {
        font-size: 0.75rem;
        font-weight: 500;
        max-width: 22rem;
        line-height: 1.3;
    }

    .localizacao-conteudo picture {
        margin-top: 3rem;
        max-width: 75%;
    }
}

@media (max-width: 1080px) {
    .localizacao {
        height: auto;
        min-height: 100vh;
    }

    .localizacao-conteudo {
        gap: 0 1rem;
    }

    .localizacao .foto {
        position: relative;
        grid-column: 2;
        grid-row: 2/4;
        max-width: 100%;
        bottom: initial;
        align-self: end;
    }

    .localizacao-conteudo .mapa {
        grid-column: 1/-1;
        grid-row: 4;
        max-width: 85%;
        padding-left: 8rem;
        padding-top: 4rem;
    }

    .mapa figcaption {
        padding-top: 14rem;
        padding-left: 8.5rem;
        font-size: 0.875rem;
    }

    .localizacao-conteudo p {
        max-width: 19rem;
    }

    .localizacao-conteudo picture {
        margin-top: 2rem;
        max-width: 100%;
        grid-column: 1;
    }
}
