/* SOBRE */

.sobre {
    background: url('/css/img/sobre-bg.jpg') no-repeat;
    min-height: 100vh;
    position: relative;
}

.sobre-conteudo {
    display: grid;
    grid-template-columns: 1fr 332px 1fr;
    gap: .75rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.sobre-conteudo .imagens {
    grid-column: 1 / -1;
    display: flex;
    gap: 1rem;
    transform: scale(80%)
}

.imagens img {
    border-radius: .75rem;
}

.imagens img:nth-child(2) {
    transform: translateY(4rem);
}

.sobre-conteudo > h2,
.sobre-conteudo > p {
    grid-column: 1;
    margin-left: 8rem;
}

.sobre-conteudo h2 {
    font-family: var(--font-2);
    font-size: 1.25rem;
    color: var(--p4);
    margin-bottom: 1rem;
}

.sobre-conteudo p {
    font-family: var(--font-1);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--p2);
    margin-bottom: 0.5rem;
    max-width: 30rem;
}

.sociedade {
    grid-column: 3;
    grid-row: 2 / 5;
    margin-top: 1rem;
    margin-left: 1rem;
}

.sociedade h3 {
    font-family: var(--font-1);
    font-weight: 500;
    font-style: italic;
    font-size: .875rem;
    color: #A6DFFF;
    margin-bottom: 0.75rem;
    position: relative;
}

.sociedade h3::before {
    content: '';
    display: inline-block;
    background-color: #A6DFFF;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -12px;
    border-radius: 4px;
    opacity: 50%;
}

.sociedade ul li {
    position: relative;
    padding-left: 1rem;
    font-family: var(--font-1);
    font-size: 0.875rem;
    color: var(--c00);
}

.sociedade ul li::before {
    content: '';
    display: inline-block;
    background: url('/css/img/setinha.svg');
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 0;
}

.sobre em {
    color: #A6DFFF;
}

.sobre i {
    color: #A6A6A6;
    font-size: .75rem;
}

/* RESPONSIVO SOBRE */

@media (max-width: 1440px) {
    .sobre-conteudo {
        grid-template-columns: 1fr 249px 1fr;
        padding-top: 0;
    }

    .sobre-conteudo .imagens {
        transform: scale(60%) translateX(-8rem);
    }

    .sobre-conteudo h2 {
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }

    .sobre-conteudo p {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        max-width: 27rem;
        line-height: 1.3;
    }
}

@media (max-width: 1080px) {
    .sobre-conteudo {
        gap: 0 1rem;
    }

    .sobre-conteudo .foto {
        grid-column: 2;
        grid-row: 1/5;
        margin-top: 0;
        max-width: 100%;
        align-self: flex-start;
    }

    .sobre-conteudo .grafico {
        grid-column: 1/-1;
        grid-row: 5;
        max-width: 75%;
        margin-top: 3rem;
        justify-self: center;
    }

    .sobre-conteudo .documentos {
        margin-top: 3rem;
        grid-column: 1/-1;
        text-align: start;
        justify-self: start;
    }

    .sobre-conteudo p {
        font-size: 0.875rem;
        max-width: 100%;
    }
}

@media (max-width: 720px) {
    .sobre-conteudo {
        grid-template-columns: 1fr;
    }

    .sobre-conteudo h2 {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    .sobre-conteudo p {
        max-width: 39ch;
    }

    .sobre-conteudo .foto {
        grid-column: 1;
        grid-row: 5;
        margin-top: 2rem;
    }

    .sobre-conteudo .grafico {
        grid-column: 1;
        grid-row: 6;
        max-width: 100%;
    }

    .sobre-conteudo .documentos {
        grid-row: 7;
        justify-self: start;
    }
}