/* SOBRE */

.sobre {
    background-color: var(--p7);
    min-height: 100vh;
    position: relative;
}

.sobre-conteudo {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.sobre-conteudo h2,
.sobre-conteudo p {
    grid-column: 1;
}

.sobre-conteudo .foto {
    grid-column: 1;
    grid-row: 5/7;
    align-self: end;
    margin-top: 4rem;
}

.sobre-conteudo .grafico {
    grid-column: 3;
    grid-row: 4/6;
}

.sobre-conteudo .documentos {
    grid-column: 3;
}

.sobre-conteudo h2 {
    font-family: var(--font-2);
    font-size: 1.25rem;
    color: var(--p4);
    margin-bottom: 1rem;
}

.sobre-conteudo p {
    font-family: var(--font-1);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--p2);
    margin-bottom: 0.5rem;
    max-width: 30rem;
}

.documentos h3 {
    font-family: var(--font-2);
    font-size: 1rem;
    color: var(--p2);
    margin-bottom: 0.75rem;
}

.documentos {
    justify-self: end;
    text-align: end;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.botoes > a {
    background-color: var(--p5);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    font-family: var(--font-2);
    font-weight: 500;
    font-size: 0.625rem;
    color: var(--p1);
    cursor: pointer;
}

.botoes > a:hover {
    background-color: var(--p4);
    color: var(--c00);
    transition: ease 0.3s;
}

/* RESPONSIVO SOBRE */

@media (max-width: 1440px) {
    .sobre-conteudo {
        grid-template-columns: 1fr 1fr;
        gap: 0 4rem;
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    .sobre-conteudo .grafico {
        grid-column: 2;
    }

    .sobre-conteudo .documentos {
        grid-column: 2;
        margin-top: 3rem;
    }

    .sobre-conteudo .foto {
        margin-top: 2rem;
        max-width: 80%;
    }

    .sobre-conteudo h2 {
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }

    .sobre-conteudo p {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        max-width: 27rem;
        line-height: 1.3;
    }

    .documentos h3 {
        font-size: 0.875rem;
    }
}

@media (max-width: 1080px) {
    .sobre-conteudo {
        gap: 0 1rem;
    }

    .sobre-conteudo .foto {
        grid-column: 2;
        grid-row: 1/5;
        margin-top: 0;
        max-width: 100%;
        align-self: flex-start;
    }

    .sobre-conteudo .grafico {
        grid-column: 1/-1;
        grid-row: 5;
        max-width: 75%;
        margin-top: 3rem;
        justify-self: center;
    }

    .sobre-conteudo .documentos {
        margin-top: 3rem;
        grid-column: 1/-1;
        text-align: start;
        justify-self: start;
    }

    .sobre-conteudo p {
        font-size: 0.875rem;
        max-width: 100%;
    }
}

@media (max-width: 720px) {
    .sobre-conteudo {
        grid-template-columns: 1fr;
    }

    .sobre-conteudo h2 {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    .sobre-conteudo p {
        max-width: 39ch;
    }

    .sobre-conteudo .foto {
        grid-column: 1;
        grid-row: 5;
        margin-top: 2rem;
    }

    .sobre-conteudo .grafico {
        grid-column: 1;
        grid-row: 6;
        max-width: 100%;
    }

    .sobre-conteudo .documentos {
        grid-row: 7;
        justify-self: start;
    }
}
